html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../images/allen-bg.png);
}



#form {
    text-align: center;
}

.submitBtn {
    cursor: pointer;
}

/* Modal Styles */

.modal {
    visibility: hidden;
}

.modal.active {
    visibility: visible;
}


.modal-content {
    margin: auto;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 30%;
    visibility: hidden;
    font-weight: 200;
    font-size: 20px;
}

.modal-content.active {
    visibility: visible;
}


/* close button */
.close {
    color: #000000;
    float: right;
    font-size: 10px;
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* deezer api styles */

#deezer {
    text-align: center;
    font-size: 20px;
    line-height: 1.8;
}

#insert-here a {
    color: #000;
    text-decoration: none;
    line-height: 1.8;
    padding: 15px;
    font-weight: bold;
}
#insert-here a:hover {
    color: lightgray;
}




/* media queries */ 

/* width of 768px and below */
@media screen and (max-width: 768px) {
    
    #header nav{
        width: 100%;
       display: block;
       position: absolute;
    }

    .hero img {
        width: 100%;
    }

    #about {
        width: 100%;
    }

    #about p {
        font-size: 15px;
    }

    #deezer {
        width: 100%;
    }

    #insta {
        width: 100%;
    }

    #comments {
        width: 100%;
    }

    #comments h1 {
        font-size: 25px;
    }

    #socials {
        width: 100%;
    }
}

/* width of 480px and below */
@media screen and (max-width: 480px) {
    
    #header nav a {
        font-size: 10px;
    }

    #image img {
        width: 100%;
    }

    #about .pa5-ns {
        padding: 4rem;
        width: 100%;
    }
    #about p {
        flex-wrap: wrap;
        font-size: 15px;
    }


    #deezer {
        width: 100%;
    }

    #insta {
        width: 100%;
    }

    #comments {
        width: 100%;
    }

    #socials {
        width: 100%;
    }

}
