html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../images/allen-bg.png);
}

nav {
    width: 100%;
}

#hero img {
    width: 100%;
}

#comments {
    align-items: center;
}

#form {
    text-align: center;
}

#submitBtn {
    margin: 30px;
    cursor: pointer;
}

/* Modal Styles */

.modal {
    visibility: hidden;
}

.modal.active {
    visibility: visible;
}


.modal-content {
    margin: auto;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 30%;
    visibility: hidden;
    font-weight: 200;
    font-size: 20px;
}

.modal-content.active {
    visibility: visible;
}


/* close button */
.close {
    color: #000000;
    float: right;
    font-size: 10px;
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* deezer api styles */

#deezer {
    text-align: center;
    font-size: 20px;
    line-height: 1.8;
}

#insert-here a {
    color: #000;
    text-decoration: none;
    line-height: 1.8;
    padding: 15px;
    font-weight: bold;
}
#insert-here a:hover {
    color: lightgray;
}

/* media queries */ 

/* width of 800px and below */
@media screen and (max-width: 800px) {
    
   nav {
       padding-bottom: 1px;
       padding-top: 1px;
       padding-left: 1px;
       padding-right: 2px;
       display: flex;
   }
    

    nav a {
        font-size: 9px;
    }

    #hero img {
        width: 100%;
    }

    #disocography {
        width: 100%;
    }

    #last-to-speak li {
        font-size: 10px;
    }

    #last-to-speak h1 {
        font-size: 12px;
    }
    
    #allen-stone-1 li {
        font-size: 10px;
    }

    #allen-stone-1 h1 {
        font-size: 12px;
    }

    #radius li {
        font-size: 10px;
    }

    #radius h1 {
        font-size: 12px;
    }

    #building-balance li {
        font-size: 10px;
    }

    #building-balance h1 {
        font-size: 12px;
    }

    #APART li {
        font-size: 10px;
    }

    #APART h1 {
        font-size: 12px;
    }

    #about {
        width: 100%;
    }

    #about p {
        font-size: 15px;
    }

    #deezer {
        width: 100%;
        text-align: center;
        font-size: 16px;
    }

    #deezer a {
        padding: 15px;
    }

    #insta {
        width: 100%;
    }

    #comments {
        width: 100%;
        text-align: center;
    }

    #comments {
        align-items: center;
    }

    #comments h1 {
        font-size: 25px;
    }

    #socials {
        width: 100%;
    }
}
